services:
  # FastAPI Auth Service
  auth-service:
    build:
      context: ./auth
      dockerfile: Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@auth-db:5432/authdb
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      DJANGO_SETTINGS_MODULE: auth_service.settings.dev
      PYTHONUNBUFFERED: 1
      DJANGO_SUPERUSER_USERNAME: hamed_amiri
      DJANGO_SUPERUSER_EMAIL: admin@example.com
      DJANGO_SUPERUSER_PASSWORD: SuperSecret123

      JWT_SECRET: supersecretkey
      JWT_ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 15
    depends_on:
      - auth-db
      - kafka

  auth-consumer:
    build:
      context: ./auth
      dockerfile: Dockerfile
    container_name: auth-consumer
    command: python apps/accounts/services/kafka_consumer.py
    environment:
      DJANGO_SETTINGS_MODULE: auth_service.settings.dev
      DATABASE_URL: postgres://postgres:postgres@auth-db:5432/authdb
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - auth-db
      - kafka

  # PostgreSQL DB for Auth
  auth-db:
    image: postgres:15
    container_name: auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "5000:8080"

  # Zookeeper for Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data

  # Kafka broker (classic mode with Zookeeper)
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    volumes:
      - kafka_data:/var/lib/kafka/data

  # Kafka UI
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      - kafka
      - zookeeper

volumes:
  auth_db_data:
  kafka_data:
  zookeeper_data:
